Query: {{query}}

Restaurant 1: {{dest1}}
{{sents1}}

Restaurant 2: {{dest2}}
{{sents2}}

You must simulate a debate between 2 people, Alice and Bob. 
Alice thinks that {{dest1}} is the best restaurant for the provided query, whereas Bob thinks {{dest2}} is for the specific aspect of: {{aspect}}. Alice and Bob should emphasize pros of their respective restaurants and cons of the other restaurant. Make it extensive and detailed and try to mention as many sentences and points as possible. Alice and Bob should both be aggressive and assertive with each other.

Perform and output a contrastive debate for each of 2 restaurants for the aspect. The debate should include exact phrases from the provided sentences with sentence number citations.